<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="DIR_POWERJOBS_PLUGIN">
            <Directory Id="dirF70FE1AA9A125151DC123A70653781CA" Name="Jobs">
                <Component Id="cmp98A9B527F5001C360E6BF66748A65894" Guid="{86D504D2-6B4A-4F11-8877-94A7290BBF0A}">
                    <File Id="fil529E9F4B1176571BB1CF1BC6BAFE6B28" KeyPath="yes" Source="$(var.HarvestPowerJobsPlugin)\Jobs\Sample.CreateDWFx.ElectricalProjects.ps1" />
                </Component>
                <Component Id="cmp2F15DD0EF56E0F5BF82239B2EE485DBA" Guid="{6A9860F2-584B-4608-B494-98A6C22457E7}">
                    <File Id="filDCF05ADB318EEC78CD931DBC0090A504" KeyPath="yes" Source="$(var.HarvestPowerJobsPlugin)\Jobs\Sample.CreatePDF.ElectricalProjects.ps1" />
                </Component>
            </Directory>
            <Directory Id="dir9E7CD643E9A9A2D795C2453CE2313473" Name="Modules">
                <Component Id="cmp09BDE428C77E6B4B0610C324B4BDC2A7" Guid="{7B66B5F6-868E-4150-9730-A5DC85A41920}">
                    <File Id="fil74AB0194817171AE9F7B82301933BADA" KeyPath="yes" Source="$(var.HarvestPowerJobsPlugin)\Modules\powerJobsAcadElectrical.psm1" />
                </Component>
                <Directory Id="dir0714E4E0A32B33C1B50F2C7A5831E30E" Name="coolOrange.AcadElectrical">
                    <Component Id="cmp6E8EB3355BA1D6017115F0745CF6F14E" Guid="{0F103FA2-77C7-4614-8DA4-90901DD7AA52}">
                        <File Id="fil54618623FE7BF31EF2B0F96BC0846F27" KeyPath="yes" Source="$(var.HarvestPowerJobsPlugin)\Modules\coolOrange.AcadElectrical\INIFileParser.dll" />
                    </Component>
                    <Component Id="cmp5E89215993C65520A6D6FA7A74D50236" Guid="{B55F4830-C53E-4EF2-8445-975ED86DBB21}">
                        <File Id="filA2DCDB69DC4D09EE17FAD6864013185D" KeyPath="yes" Source="$(var.HarvestPowerJobsPlugin)\Modules\coolOrange.AcadElectrical\INIFileParser.xml" />
                    </Component>
                    <Component Id="cmp4D1F40AC12F9B357D6AAABDB6032B545" Guid="{505C9C0B-85FA-4A6F-BC00-8C11E6D3DAAF}">
                        <File Id="filB77B516A8940F861CC1E8385EDC8E7F6" KeyPath="yes" Source="$(var.HarvestPowerJobsPlugin)\Modules\coolOrange.AcadElectrical\log4net.dll" />
                    </Component>
                    <Component Id="cmp8531731A6C515A71C3B18F739664B3CC" Guid="{F6B2A448-1F2F-4538-B029-F41E50F9257E}">
                        <File Id="fil72F06C2F8F506C546C04FC79A0444D7A" KeyPath="yes" Source="$(var.HarvestPowerJobsPlugin)\Modules\coolOrange.AcadElectrical\log4net.xml" />
                    </Component>
                </Directory>
                <Directory Id="dir67A348A2D9893C53416EC38C065B0FE5" Name="Export">
                    <Component Id="cmpEB98EBE399C537A36781F6EE100A170C" Guid="{FA2D0A7F-0877-485E-BC23-028B71A54EA1}">
                        <File Id="fil48925D19AEF7A45AD2D26F8C94D09ECC" KeyPath="yes" Source="$(var.HarvestPowerJobsPlugin)\Modules\Export\PDF_AcadElectrical.ini" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HeatGenerated_PowerJobsPlugin">
            <ComponentRef Id="cmp98A9B527F5001C360E6BF66748A65894" />
            <ComponentRef Id="cmp2F15DD0EF56E0F5BF82239B2EE485DBA" />
            <ComponentRef Id="cmp09BDE428C77E6B4B0610C324B4BDC2A7" />
            <ComponentRef Id="cmp6E8EB3355BA1D6017115F0745CF6F14E" />
            <ComponentRef Id="cmp5E89215993C65520A6D6FA7A74D50236" />
            <ComponentRef Id="cmp4D1F40AC12F9B357D6AAABDB6032B545" />
            <ComponentRef Id="cmp8531731A6C515A71C3B18F739664B3CC" />
            <ComponentRef Id="cmpEB98EBE399C537A36781F6EE100A170C" />
        </ComponentGroup>
    </Fragment>
</Wix>