<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="coolOrange.AutoCADElectrical.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <coolOrange.AutoCADElectrical.Properties.Settings>
            <setting name="AcadStartParameters" serializeAs="String">
                <value>/product "ACADE" /p "&lt;&lt;ACADE&gt;&gt;"</value>
            </setting>
            <setting name="AcadCmdTimeout" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="StartWaitTime" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="OpenWaitTime" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="MdbCreationWaitTime" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="DummyAcadElectricalProjectFile" serializeAs="String">
                <value>%USERPROFILE%\Documents\Acade {0}\AeData\Proj\Demo\wddemo.wdp</value>
            </setting>
            <setting name="OverrideAcadElectricalUserPath" serializeAs="String">
                <value />
            </setting>
        </coolOrange.AutoCADElectrical.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
